<!DOCTYPE HTML>

<html>
{% load static %}
	<head>
		<title>SD - Equipe de professores</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="../" class="logo">Centro Educacional Santos Dumont</a>
					<nav id="nav">
						<a href="../">Nossa equipe</a>
						<a href="">Nossos professores</a>
						<a href="../requirements">Requerimentos</a>
						<a href="../tools.html"> Ferramentas de Comunicação</a>
						<a href="../roomsschedule">Reserva de Salinha</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2> Equipe de professores </h2>
						<p> Segue a imagem que ilustra a configuração da atual equipe de professores voluntários do Curso. </p>
					</header>
					<div class="flex flex-1">
						<article>
							<div class="image fit">
								<img src="{% static 'images/teachers.png' %}" alt="org" />
							</div>
							<header>
								<h3>Professores do Santos Dumont</h3>
							</header>
							<p> O Centro Educacional Santos Dumont concentra, atualmente, mais de 90 professores.
								Todos exercem a atividade docente voluntariamente! <br><br>
								Dentro do curso, existe uma progressão de carreira para os nossos professores. Ao ser admitido,
								o professor pode dar aulas de reforço em período extra-classe ou participar do plantão de dúvidas
								aos alunos. Após ganhar experiência como docente, o professor já está capacitado a ministrar aulas
								nos cursos Intensivo - no CASDVest - e nas olimpíadas científicas no Casdinho. Por fim, os professores
								mais experientes do curso dão aulas no curso Extensivo, que é o curso de aulas regulares tanto no CASDVest
								quanto no Casdinho.<br><br>
								O processo seletivo de professores é aberto a todos os interessados em exercer trabalho voluntário e que
								tenham disponibilidade de atender a nossa sede educacional pelo menos uma vez por semana. Para que um
								candidato seja admitido ao curso como professor, ele ou ela deverão passar por uma entrevista e por uma aula
								teste, avaliada pela equipe de Ensino da ONG.
							</p>
						</article>
					</div>
					<div class="flex flex-2">
						<article>
							<div class="image fit">
								<img src="{% static 'images/casdvest.png' %}" alt="FIN" />
							</div>
							<header>
								<h3>Professores do CASDvest</h3>
							</header>
							<p> O CASDVest conta atualmente com cerca de 33 professores no curso regular Extensivo, abrangendo todas as
								matérias sensíveis ao conteúdo cobrado nos principais vetibulares paulistas e no ENEM: Língua Portuguesa, Redação,
								Física, Matemática, Química, Biologia, História, Geografia, Filosofia e Sociologia. O mesmo ocorre com o Intensivo; no entanto,
								esta é uma turma reduzida e conta com um corpo docente menos expressivo. <br><br>
								É obrigação dos professores ter uma cadência regular de aulas marcadas (geralmente uma vez por semana), e confeccionar questões
								para os simulados aplicados aos alunos. Além disso, eles devem se basear no cronograma de aulas esquematizado pelo material didático
								do Poliedro, nosso parceiro institucional que concede apostilas a todos os nossos alunos.<br><br>
								Todos os professores recebem ajuda de custo para transporte até a nossa sede educacional e eventual compra de materiais pertinentes
								à sua docência.
							</p>
						</article>
						<article>
							<div class="image fit">
								<img src="{% static 'images/casdinho.png' %}" alt="FIN" />
							</div>
							<header>
								<h3>Professores do Casdinho Casdinho</h3>
							</header>
							<p>   O Casdinho conta atualmente com cerca de 25 professores no curso regular Extensivo, abrangendo todas as
								matérias sensíveis ao conteúdo cobrado nos principais vestibulinhos da região de São José dos Campos - Colégio da Embraer e ETEC.
								Dentre as disciplinas ministradas, podemos citar Língua Portuguesa, Redação,
								Física, Matemática, Química, Biologia, História, Geografia. No Casdinho, existem também aulas de preparação para olimpíadas
								científicas. O Casdinho prepara para olimpíadas como a OBMEP, OBFEP, OBA, OBQJr, etc.  <br><br>
								É obrigação dos professores ter uma cadência regular de aulas marcadas (geralmente uma vez por semana), e confeccionar questões
								para os simulados aplicados aos alunos.<br><br>
								Todos os professores recebem ajuda de custo para transporte até a nossa sede educacional e eventual compra de materiais pertinentes
								à sua docência.
							</p>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Site interno ao Centro Educacional Santos Dumont. Design: <a href="https://templated.co">TEMPLATED</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
			<script src="{% static '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' %}"></script>
			<script src="{% static '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js' %}"></script>

	</body>
</html>