<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Theory by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/main.css" />
	</head>
	<body class="subpage">

		<!-- Header
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">Theory</a>
					<nav id="nav">
						<a href="index.html">Home</a>
						<a href="generic.html">Generic</a>
						<a href="elements.html">Elements</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header> -->

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2> Requerimento Financeiro </h2>
						<p> Requisições de verba para eventos e aquisições. </p>
					</header>
                </div>
                <h3>Formulário</h3>
                    <form method="post" action="#">
                        <div class="row uniform">
                            <div class="6u 12u$(xsmall)">
                                <input type="text" name="Nome" id="name" value="" placeholder="Name" />
                            </div>
                            <div class="6u$ 12u$(xsmall)">
                                <input type="email" name="Email" id="email" value="" placeholder="Email" />
                            </div>
                            <!-- Break -->
                            <div class="12u$">
                                <div class="select-wrapper">
                                    <select name="category" id="category">
                                        <option value="">-Categoria do Gasto</option>
                                        <option value="1">Eventos com alunos</option>
                                        <option value="1">Eventos com voluntários</option>
                                        <option value="1">Aquisições</option>
                                        <option value="1">Outros</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Break -->
                            <div class="4u 12u$(small)">
                                <input type="radio" id="priority-low" name="priority" checked>
                                <label for="priority-low">R$ 0 - 200</label>
                            </div>
                            <div class="4u 12u$(small)">
                                <input type="radio" id="priority-normal" name="priority">
                                <label for="priority-normal"> R$ 200 - 500</label>
                            </div>
                            <div class="4u$ 12u$(small)">
                                <input type="radio" id="priority-high" name="priority">
                                <label for="priority-high">R$ 500 +</label>
                            </div>
                            <!-- Break -->
                            <div class="6u$ 12u$(small)">
                                <input type="checkbox" id="human" name="human" checked>
                                <label for="human">I am a human and not a robot</label>
                            </div>
                            <!-- Break -->
                            <div class="12u$">
                                <textarea name="message" id="message" placeholder="Detalhe um pouco mais o orçamento e o objetivo do evento" rows="6"></textarea>
                            </div>
                            <!-- Break -->
                            <div class="12u$">
                                <ul class="actions">
                                    <li><input type="submit" value="Enviar" /></li>
                                    <li><input type="reset" value="Refazer" class="alt" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Site interno ao Centro Educacional Santos Dumont. Design: <a href="https://templated.co">TEMPLATED</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>