<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
{% load static %}
	<head>
		<title>Intranet SD</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="home.html" class="logo">Centro Educacional Santos Dumont</a>
					<nav id="nav">
						<a href="/requirements">Requerimentos</a>
						<a href="/tools"> Ferramentas de Comunicação</a>
						<a href="/roomsschedule">Reserva de Salinha</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style="background-image: url('{% static "images/banner.png" %}')";>
				<h1>Centro Educacional Santos Dumont</h1>
				<p>Acreditar no potencial das pessoas é a nossa maior causa.</p>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3>História do Santos Dumont</h3>
							</header>
							<p>Entenda a nossa linha do tempo, e tudo que já aconteceu dentro do Santos Dumont em mais de seus 20 anos de existência!</p>
							<footer>
								<a href="http://www.cursosantosdumont.org.br/historia" class="button special">Mais</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>O que é a nossa intranet?</h3>
							</header>
							<p>Entenda as funcionalidades presentes no portal do voluntário administrativo do Santos Dumont.</p>
							<footer>
								<a href="#" class="button special">Mais</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Facebook do Santos Dumont</h3>
							</header>
							<p>Fique por dentro dos últimos acontecimentos do Curso acompanhando nossas páginas no Facebook.</p>
							<footer>
								<a href="https://www.facebook.com/santosdumontsjc" class="button special">Mais</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<header>
						<h2>Nosso Conselho Consultivo</h2>
						<p>Integrantes que compõem o órgão de maior importância estratégica dentro do Santos Dumont.</p>
					</header>
					<div class="flex flex-5">
						<div class="box person">
							<div class="image round">
								<img src="{% static 'images/gustavo.png' %}" alt="Person 1" />
							</div>
							<h3>Gustavo Marques</h3>
							<p>Turma 14'</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{% static 'images/lucas.png' %}" alt="Person 2" />
							</div>
							<h3>Lucas de Brito</h3>
							<p>Turma 14'</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{% static 'images/igor.png' %}" alt="Person 3" />
							</div>
							<h3>Igor Rios</h3>
							<p>Turma 14'</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{% static 'images/leandro.png' %}" alt="Person 4" />
							</div>
							<h3>Leandro Loli</h3>
							<p>Turma 19</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{% static 'images/aldo.png' %}" alt="Person 5" />
							</div>
							<h3>Aldo Teshima</h3>
							<p>Turma 80</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper special">
				<div class="inner">
					<header class="align-center">
						<h2>Um pouco mais de nossa equipe</h2>
						<p>Explicaçoes a respeito de nossa equipe administrativa e de professores, essenciais para o funcionamento da ONG. </p>
					</header>
					<div class="flex flex-2">
						<article>
							<div class="image fit">
								<img src="{% static 'images/pic01.jpg' %}" alt="Pic 01" />
							</div>
							<header>
								<h3>Nossa equipe administrativa</h3>
							</header>
							<p> Entenda o organograma, departamentos e diretorias existentes a fim de manter o Santos Dumont ativo.</p>
							<footer>
								<a href="#" class="button special">Mais</a>
							</footer>
						</article>
						<article>
							<div class="image fit">
								<img src="{% static 'images/pic02.jpg' %}" alt="Pic 02" />
							</div>
							<header>
								<h3>Nossa equipe de professores</h3>
							</header>
							<p> Entenda o conjunto de todos os professores voluntários que atuam no Curso, proporcionando educação de qualidade.</p>
							<footer>
								<a href="#" class="button special">Mais</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>