<!DOCTYPE HTML>

<html>
{% load static %}
	<head>
		<title>SD - Requerimentos</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">Centro Educacional Santos Dumont</a>
					<nav id="nav">
						<a href="requirement.html">Requerimentos</a>
						<!--<a href="generic.html">Generic</a>
						<a href="elements.html">Elements</a> -->
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2> Requerimentos </h2>
						<p> Preencha com antecedência as requisições financeiras e de arte gráfica dentro do Santos Dumont. </p>
					</header>
					<p> É de extrema importância para a boa gestão financeira do Centro Educacional Santos Dumont que todas as solicitações que envolvam o dinheiro do Curso sejam realizadas com uma antecedêcia mínima de 5 dias úteis. Dessa forma, é possível haver o feedback em tempo, além de ser possível haver o planejamento financeiro adequado.</p>
					<p> A antecedência é também importante, dado que existe uma certa burocracia por trás de qualquer requisição financeira para, por exemplo, realização de transferências, saques, dentre outras transações.</p>
                    <div class="flex flex-2">
						<article>
							<div class="image fit">
								<img src="{% static 'images/fin.png' %}" alt="FIN" />
							</div>
							<header>
								<h3>Requerimento Financeiro</h3>
							</header>
							<p> Caso você precise de verba para realizar o seu evento relacionado ao Santos Dumont, ou mesmo para adquirir um novo produto, não esqueça de PREENCHER o formulário do Departamento Financeiro!</p>
							<footer>
								<a href="./financeiro/" class="button special">Preencher</a>
							</footer>
						</article>
						<article>
							<div class="image fit">
								<img src="{% static 'images/mkt.png' %}" alt="MKT" />
							</div>
							<header>
								<h3>Requerimento ao Marketing</h3>
							</header>
							<p>Caso você precise de algum apoio de arte gráfica para realizar a sua divulgação relacionada ao Santos Dumont, ou mesmo queira sugerir uma postagem ou newsletter, não esqueça de PREENCHER o formulário do Departamento de Marketing!</p>
							<footer>
								<a href="./marketing/" class="button special">Preencher</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Site interno ao Centro Educacional Santos Dumont. Design: <a href="https://templated.co">TEMPLATED</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>