<!DOCTYPE HTML>

<html>
{% load static %}
	<head>
		<title>SD - Ferramentas de Comunicação</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="../" class="logo">Centro Educacional Santos Dumont</a>
					<nav id="nav">
						<a href="../requirements">Requerimentos</a>
						<a href="tools.html"> Ferramentas de Comunicação</a>
						<a href="../roomsschedule">Reserva de Salinha</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2> Ferramentas de Comunicação </h2>
						<p> É importante entender e saber quais são as ferramentas de gestão e comunicação dentro do Santos Dumont. </p>
					</header>
					<div class="flex flex-2">
						<article>
							<div class="image fit">
								<img src="{% static 'images/trello.png' %}" alt="FIN" />
							</div>
							<header>
								<h3>Trello</h3>
							</header>
							<p>     O trello consiste em uma ferramenta de facilitação da gestão e gerenciamento dentro do Santos Dumont, especialmente para os departamentos. <br />
							    Além dos trellos associados a cada um dos departamentos, existem alguns boards especiais, como o "Quem é quem", "Dê a sua ideia" e outros Boards relacionados à gestão das Comissões de Processos Seletivos.
							</p>
							<footer>
								<a href="https://trello.com/santosdumont2" class="button special">Quero gerir!</a>
							</footer>
						</article>
						<article>
							<div class="image fit">
								<img src="{% static 'images/drive.png' %}" alt="MKT" />
							</div>
							<header>
								<h3>Google Drive</h3>
							</header>
							<p>O Google Drive consiste em uma ferramenta de armazenamento e documentação de arquivos e quaisquer outros tipos de documentos que se fazem necessários armazenar dado o contexto da instituição. <br />
								Caso ainda levarmos em conta a alta rotatividade presente dentro da instituição, essa ferramenta se torna ainda mais essencial e necessária ao garantir a continuidade dos processos e pensamentos.</p>
							<footer>
								<a href="https://drive.google.com/a/cursosantosdumont.org.br" class="button special">Quero documentar!</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Site interno ao Centro Educacional Santos Dumont. Design: <a href="https://templated.co">TEMPLATED</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>