<!DOCTYPE HTML>

<html>
{% load static %}
	<head>
		<title>SD - Requerimentos</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="../../" class="logo">Centro Educacional Santos Dumont</a>
					<nav id="nav">
						<a href="../../ourteam">Nossa equipe</a>
						<a href="../../ourteam/teachers">Nossos professores</a>
                        <a href="..">Requerimentos</a>
						<a href="../../tools"> Ferramentas de Comunicação</a>
						<a href="../../roomsschedule">Reserva de Salinha</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2> Requerimento ao Marketing </h2>
						<p> Requisições de publicações e arte gráfica. </p>
					</header>
                    <div class="12u$ 24u$(medium)">
                        <h3>Instruções</h3>
                        <ul>
                            <li> Realizar o preenchimento do formulário abaixo.</li>
                            <li> Após envio, o departamento de Marketing realizará a leitura da requisição, e enviará um feedback ao e-mail dado no formulário.</li>
                            <li> Caso o feedback seja positivo, haverá a combinação de detalhes finais relacionados à requisição.</li>
                            <li> Caso seja negativo, haverá as justificativas de por que foi recusado o pedido.</li>
                            <li> Faça um esforço para pedir com pelo menos 5 dias úteis de antecedência.</li>
                        </ul>
                    </div>
                    <div class="12u 24u$(medium)">
                        <h3>Formulário</h3>
                            <form method="post" action="#">
                                <div class="row uniform">
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="Nome" id="name" value="" placeholder="Name" />
                                    </div>
                                    <div class="6u$ 12u$(xsmall)">
                                        <input type="email" name="Email" id="email" value="" placeholder="Email" />
                                    </div>
                                <!-- Break -->
                                    <div class="6u 12u$(xsmall)">
                                        <div class="select-wrapper">
                                            <select name="category" id="category1">
                                                <option value="">-Departamento-</option>
                                                <option value="2">Gestão</option>
                                                <option value="3">RH CASDvest</option>
                                                <option value="4">RH Casdinho</option>
                                                <option value="5">Ensino CASDVest</option>
                                                <option value="6">Ensino Casdinho</option>
                                                <option value="7">Desenvolvimento CASDVest</option>
                                                <option value="8">Marketing</option>
                                                <option value="9">Financeiro</option>
                                                <option value="10">Captação de Recursos</option>
                                                <option value="11">Executivo</option>
                                            </select>
                                        </div>
                                    </div>
                                <!-- Break -->
                            <!-- Break -->
                                    <div class="6u 12u$(small)">
                                        <input type="date" id="data" name="data" checked>
                                        <label for="data">Data de entrega</label>
                                    </div>
                                    <div class="6u$ 12u$(small)">
                                        <input type="checkbox" id="human" name="human" checked>
                                        <label for="human">I am a human and not a robot</label>
                                    </div>
                            <!-- Break -->
                                    <div class="12u$">
                                        <textarea name="message" id="message" placeholder="Detalhe um pouco mais o orçamento e o objetivo da verba." rows="6"></textarea>
                                    </div>
                            <!-- Break -->
                                    <div class="12u$">
                                        <ul class="actions">
                                            <li><input type="submit" value="Enviar" /></li>
                                            <li><input type="reset" value="Refazer" class="alt" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Site interno ao Centro Educacional Santos Dumont. Design: <a href="https://templated.co">TEMPLATED</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>